<div id="post-container">
    <div id="photo-container">
        <header id="image-post-title">
            <h1 id="image-post-text">{{currentPost.title}}</h2>
        </header>

        <img id="image-post-image" src="/{{currentPost.photopath}}">
        <p><span id="author">Post by: {{currentPost.username}}</span></p>
        <div id="post-date" class="info-tags">{{currentPost.created}}</div>
        <div id="post-desc" class="info-tags">{{currentPost.description}}</div>
    </div>
    <div id="comment-container">
        <div id="messages">
            {{#each currentPost.comments}}
            {{> comments this}}
            {{/each}}
        </div>
        <div id="comment-box">
            <input id="comment-box-text" placeholder="Enter Comments here"></input>
            <button id="comment-box-button"></button>
        </div>
    </div>
</div>
<script>
    document.addEventListener('DOMContentLoaded', (event) => {
        document.querySelectorAll('span[class=data-posted').forEach((postedData) => {
            postedData.textContent = new Date(postedData.textContent).toLocaleString();
        });
    });

    function addMessage(data) {
        let template = document.createElement('template');
        template.innerHTML =
            `<div id="message-${data.commentId}">
                <strong class="author-text">@${data.username}</strong>
                <span class="date-posted">${new Date().toLocaleString()}</span>
                <div class="comment-text">${data.comment}</div>
            </div>
            `;
            document.getElementById('messages').firstChild.before(template.content.firstChild);
    }

    document.getElementById('comment-box-button').onclick = (event) => {
        let commentText = document.getElementById('comment-box-text').value;
        let postId = document.location.pathname.match(/\d+/g).map(Number)[0];

        if (!commentText) {
            return;
        }

        let fetchOptions = {
            method: "POST",
            headers: {
                "Content-Type": "Application/json"
            },
            body: JSON.stringify({
                comment: commentText,
                postId: postId,
            })
        }
        fetch('/comments/create', fetchOptions)
            .then((response) => response.json())
            .then((data) => {
                if (data.code == 1) {
                    addMessage(data);
                } else {
                    addFlashFromFrontEnd(data.message.data.status);
                }
            })
            .catch(err => console.log(err));
    }

</script>